.footerbar {
    background-color: #CA8D77;
    color: beige;
    letter-spacing: .03em;
    font-size: 13px;
    font-weight: 10;
    height: 30px;
    margin-top: 7px;
    letter-spacing: .03em;
    text-align: center;
}