#branding {
    max-width: 50px;
    max-height: 50px;
    justify-content: center;
}

.navbartext {
    color: #cea241;
    font-size: 20px;
    font-family: 'Archivo Narrow', sans-serif;
}

.PAlink{
    margin-left: 20px;
    font-size: 23px;   
}

.navbar-brand {
    height: 50px;
}

.navbar .navbar-brand {
    text-align: center;
    width: 100%;
  }
  
  .navbar .navbar-brand .navbar-item,
  .navbar .navbar-brand .navbar-link {
    display: inline;
  }