.greenfoot {
    background-color: #7b7660;
    color: beige;
    letter-spacing: .03em;
    font-size: 13px;
    font-weight: 10;
    height: 20px;
    margin-top: 50px;
    margin-bottom: 0px;
    letter-spacing: .03em;
    text-align: center;
    padding: 0px;
}
